---
import Layout from "../layouts/Layout.astro";
---

<Layout title="iliksis.com">
  <main class="flex flex-col items-center justify-center h-full">
    <h1
      class="text-7xl font-bold lowercase text-gray-950 cursor-default select-none coming-soon"
    >
      Coming soon
    </h1>
  </main>
</Layout>

<script>
  const maxRotate = 45;
  document.addEventListener("mousemove", function (e) {
    const comingSoon = document.querySelector<HTMLElement>(".coming-soon");
    if (comingSoon) {
      const x = e.clientX / window.innerWidth;
      const y = e.clientY / window.innerHeight;

      const perspective = window.innerWidth * 4;

      const angleX = maxRotate * x - maxRotate / 2;
      const angleY = (maxRotate * y - maxRotate / 2) * -1;

      comingSoon.style.transform = `perspective(${perspective}px) rotateX(${angleY}deg) rotateY(${angleX}deg)`;
    }
  });

  document.addEventListener("mouseleave", function () {
    const comingSoon = document.querySelector<HTMLElement>(".coming-soon");
    if (comingSoon) {
      comingSoon.style.transform =
        "perspective(0px) rotateX(0deg) rotateY(0deg)";
    }
  });
</script>

<style>
  .coming-soon {
    text-shadow: 0px 0px 10px theme("colors.gray.50");
  }
</style>
